@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-primary: #C1CDBE;
    --color-secondary: #E9F9D0;
  }

  .triangle-clip {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }